.block-height{
	height: 100px;
}

@media only screen and (min-width: 1px) and (max-width: 499px){
	.first{ background-color: red; }
	.second{ background-color: orange; }
	.third{ background-color: yellow; }
	.fourth{ background-color: green; }
	.fifth { background-color: blue; }
	.sixth{ background-color: purple; }
}

@media only screen and (min-width: 500px){
	.first{ background-color: purple; }
	.second{ background-color: red; }
	.third{ background-color: orange; }
	.fourth{ background-color: yellow; }
	.fifth { background-color: green; }
	.sixth{ background-color: blue; }
}
@media only screen and (min-width: 600px){
	.first{ background-color: blue; }
	.second{ background-color: purple; }
	.third{ background-color: red; }
	.fourth{ background-color: orange; }
	.fifth { background-color: yellow; }
	.sixth{ background-color: green; }
}
@media only screen and (min-width: 700px){
	.first{ background-color: green; }
	.second{ background-color: blue; }
	.third{ background-color: purple; }
	.fourth{ background-color: red; }
	.fifth { background-color: orange; }
	.sixth{ background-color: yellow; }
}